/* #workspaces { */

/* } */

body{
    font-family: Garamond, serif;
    background-color: #f4f6f9;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 10px; 
}

.bloc_title{
    margin-bottom: 120px; 
}

img{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.first_card{
    margin-left: 20px;
}

.card-title{
    margin-top: -4%;
    margin-left: 30px;
}

.date_text{
    margin-top: -14%;
    color: gray;

}

.card1_text{
    font-size: 20px;
    margin-left: 30px;

}

h2{
    font-size: 35px;
}

.subtitle{
    color: grey;
    text-align: center;
}

.main_title{
    padding-top : 15px !important;
    padding-bottom : 50px !important;
}

.icon_logo{
    padding-top : 30px !important;
}

.logo_dev{
    margin-top: 20px; 
    display: inline-block;
}

.image_famille{
    height: 40%;
    width: 300;
    padding-left : 10px !important;
    padding-right : 10px !important;
}

.body_card{
    padding-left : 0px !important;
    padding-right : 0px !important;
    padding-top : 20px !important;
}

.body_card2{
    margin-top: 100px;
    padding-left : 0px !important;
    padding-right : 0px !important;
    padding-top : 20px !important;
}

.body_card3{
    margin-top: 100px;
    padding-left : 0px !important;
    padding-right : 0px !important;
    padding-top : 20px !important;
}


@media (max-width:767px) {
    img { height:200;}
}